<form autocomplete="off" onsubmit="event.preventDefault();">
    <p>You may import unmodified PDFs from Paizo only. For personal use only.</p>
    <p>This will create actors/scenes/journal entries in this world. Importing supported flip mats/interactive maps (+) will update maps for all matching scenes in the world.</p>
    <hr>

    <h4>Supported Aventures</h4>

    <div class="supported-modules-container">
        <div>
            <div class="supported-modules">
                <span class="complete">&nbsp;</span>
                <p>Fall of Plaguestone</p>
            </div>
            <div class="supported-modules">
                <span class="complete">&nbsp;</span>
                <p>The Slithering</p>
            </div>
            <div class="supported-modules">
                <span class="complete" title="Flip Mat import supported."><i class="fas fa-star"></i></span>
                <p>Troubles in Otari</p>
            </div>
            <div class="supported-modules">
                <span class="complete" title="Flip Mat import supported.">+</span>
                <p>Menace Under Otari</p>
            </div>
            <div class="supported-modules">
                <span class="complete" title="Special thanks to TMun for providing wall data."><i class="fas fa-star"></i></span>
                <p>Malevolence</p>
            </div>
            <div class="supported-modules">
                <span class="complete" title="Flip Mat import supported."><i class="fas fa-star"></i></span>
                <p>Night of the Gray Death</p>
            </div>
            <div class="supported-modules">
                <span class="complete">&nbsp;</span>
                <p>Little Trouble in Big Absalom</p>
            </div>
            <div class="supported-modules">
                <span class="complete">&nbsp;</span>
                <p>Sundered Waves</p>
            </div>
            <div class="supported-modules">
                <span class="complete">&nbsp;</span>
                <p>Dinner at Lionlodge</p>
            </div>
            <div class="supported-modules">
                <span class="complete"><i class="fas fa-star"></i></span>
                <p>Head-Shot the Rot</p>
            </div>
            <p>Age of Ashes</p>
            <div class="supported-modules">
                <span class="complete">1</span>
                <span class="complete">2</span>
                <span class="complete">3</span>
                <span class="complete">4</span>
                <span class="complete">5</span>
                <span class="complete">6</span>
            </div>
            <p>Extinction Curse</p>
            <div class="supported-modules">
                <span class="complete">1</span>
                <span class="complete">2</span>
                <span class="complete" title="Special thanks to Nock for providing wall data.">3</span>
                <span class="complete" title="Special thanks to Nock for providing wall data.">4</span>
                <span class="complete" title="Special thanks to Nock for providing wall data.">5</span>
                <span class="complete" title="Special thanks to Nock for providing wall data.">6</span>
            </div>
            <p>Agents of Edgewatch</p>
            <div class="supported-modules">
                <span class="complete" title="Interactive Map import supported.">1+</span>
                <span class="complete" title="Interactive Map import supported.">2+</span>
                <span class="complete" title="Interactive Map import supported.">3+</span>
                <span class="complete" title="Interactive Map import supported.">4+</span>
                <span class="complete" title="Interactive Map import supported.">5+</span>
                <span class="complete" title="Interactive Map import supported.">6+</span>
            </div>
            <p>Abomination Vaults</p>
            <div class="supported-modules">
                <span class="complete" title="Special thanks to TMun for providing wall data. Interactive Map import supported.">1+</span>
                <span class="complete" title="Special thanks to redeux#9667 on Discord for providing wall data. Interactive Map import supported.">2+</span>
                <span class="complete" title="Special thanks to redeux#9667 on Discord for providing wall data. Interactive Map import supported.">3+</span>
            </div>
            <p>Fists of the Ruby Phoenix</p>
            <div class="supported-modules">
                <span class="complete" title="Interactive Map import supported.">1+</span>
                <span class="complete" title="Interactive Map import supported.">2+</span>
                <span class="complete" title="Interactive Map import supported.">3+</span>
            </div>
            <p>Strength of Thousands</p>
            <div class="supported-modules">
                <span class="complete" title="Interactive Map import supported.">1<i class="fas fa-star"></i></span>
                <span class="complete" title="Interactive Map import supported.">2<i class="fas fa-star"></i></span>
                <span class="complete" title="Interactive Map import supported. Special thanks to InfamousSky#9002 for providing wall data.">3<i class="fas fa-star"></i></span>
                <span class="complete" title="Interactive Map import supported. Special thanks to InfamousSky#9002 for providing wall data.">4<i class="fas fa-star"></i></span>
                <span class="" title="">5</span>
                <span class="" title="">6</span>
            </div>
        </div>
        <div>
            <p>Pathfinder Society Season 1</p>
            <div class="supported-modules">
                <span class="complete">00</span>
                <span class="complete">01</span>
                <span class="complete">02</span>
                <span class="complete">03</span>
                <span class="complete">04</span>
                <span class="complete">05</span>
                <span class="complete">06</span>
                <span class="complete">07</span>
                <span class="complete">08</span>
                <span class="complete">09</span>
                <span class="complete">10</span>
                <span class="complete">11</span>
                <span class="complete">12</span>
                <span class="complete">13</span>
                <span class="complete">14</span>
                <span class="complete">15</span>
                <span class="complete">16</span>
                <span class="complete">17</span>
                <span class="complete">18</span>
                <span class="complete">19</span>
                <span class="complete">20</span>
                <span class="complete">21</span>
                <span class="complete">22</span>
                <span class="complete">23</span>
                <span class="complete">24</span>
                <span class="complete">25</span>
            </div>
            <div class="supported-modules">
                <span class="complete">Q1</span>
                <span class="complete">Q2</span>
                <span class="complete">Q3</span>
                <span class="complete">Q4</span>
                <span class="complete">Q5</span>
                <span class="complete">Q6</span>
                <span class="complete">Q7</span>
                <span class="complete">Q8</span>
                <span class="complete">Q9</span>
                <span class="complete">Q10</span>
                <span class="complete">Q11</span>
                <span class="complete">Q12</span>
                <span class="complete">Q13</span>
            </div>
            <p>Pathfinder Society Season 2</p>
            <div class="supported-modules">
                <span class="complete">01</span>
                <span class="complete">02</span>
                <span class="complete">03</span>
                <span class="complete">04</span>
                <span class="complete">05</span>
                <span class="complete">06</span>
                <span class="complete">07</span>
                <span class="complete">08</span>
                <span class="complete">09</span>
                <span class="complete">10</span>
                <span class="complete">11</span>
                <span class="complete">12</span>
                <span class="complete">13</span>
                <span class="complete">14</span>
                <span class="complete">15</span>
                <span class="complete">16</span>
                <span class="complete">17</span>
                <span class="complete">18</span>
                <span class="complete">19</span>
                <span class="complete">20</span>
                <span class="complete">21</span>
                <span class="complete">22</span>
                <span class="complete">23</span>
                <span class="complete">24</span>
            </div>
            <p>Pathfinder Society Season 3</p>
            <div class="supported-modules">
                <span class="complete">01</span>
                <span class="complete">02</span>
                <span class="complete">03</span>
            </div>
            <p>Pathfinder Society Intros</p>
            <div class="supported-modules">
                <span class="complete">01</span>
                <span class="complete">02</span>
            </div>
            <p>Bounties</p>
            <div class="supported-modules">
                <span class="complete">01</span>
                <span class="complete">02</span>
                <span class="complete">03</span>
                <span class="complete">04</span>
                <span class="complete">05</span>
                <span class="complete">06</span>
                <span class="complete">07</span>
                <span class="complete">08</span>
                <span class="complete">09</span>
                <span class="complete">10</span>
                <span class="complete">11</span>
                <span class="complete">12</span>
                <span class="complete">13</span>
                <span class="complete">14</span>
            </div>
        </div>
    </div>

    <hr>

    <div class="specialthanks">
        <a href="https://www.patreon.com/fryguy1013"><img src="/modules/pdftofoundry/Digital-Patreon-Wordmark_White.png" class="patreon"/></a>
        <p>A special thank you to all of my patrons and everyone that has helped pay for the PDFs.</p>
    </div>
    <p class="superpatrons"><b>Super Patrons</b>: Roy, gfactor, Avery Prometheus Rosen, Miguel Alan, Friend_Computer, Vaeron, Becca, Bryan L Auslander, and Colm O'Hara</p>

    <hr>

    <div class="form-group">
        <label for="data">Source PDF</label>
        <input type="file" name="data">
    </div>

    <div class="form-group">
        <input type="checkbox" name="consent" id="consent" checked>
        <label for="consent">I consent to send telemetry data about the usage of this module</label>
    </div>
</form>
