<form autocomplete="off" onsubmit="event.preventDefault();">
    <p>You may import unmodified PDFs from Paizo only.</p>
    <p>This will create actors/scenes/journal entries in this world.</p>
    <p>For personal use only.</p>
    <h4>Supported Modules</h4>
    <div class="supported-modules">
        <p>Fall of Plaguestone</p>
        <span class="complete">&nbsp;</span>
    </div>
    <div class="supported-modules">
        <p>The Slithering</p>
        <span class="complete">&nbsp;</span>
    </div>
    <div class="supported-modules">
        <p>Age of Ashes</p>
        <span class="complete">1</span>
        <span class="complete">2</span>
        <span class="complete">3</span>
        <span class="complete">4</span>
        <span class="complete">5</span>
        <span class="complete">6</span>
    </div>
    <div class="supported-modules">
        <p>Extinction Curse</p>
        <span class="complete">1</span>
        <span class="complete">2</span>
        <span class="partial">3</span>
        <span class="partial">4</span>
        <span class="partial">5</span>
        <span class="partial">6</span>
    </div>
    <div class="supported-modules">
        <p>Agents of Edgewatch</p>
        <span class="complete">1</span>
        <span class="complete">2</span>
        <span class="complete">3</span>
    </div>
    <p>Pathfinder Society Season 1</p>
    <div class="supported-modules">
        <span>00</span>
        <span class="complete">01</span>
        <span class="partial">02</span>
        <span>03</span>
        <span>04</span>
        <span class="complete">05</span>
        <span class="complete">06</span>
        <span>07</span>
        <span class="partial">08</span>
        <span class="partial">09</span>
        <span>10</span>
        <span class="partial">11</span>
        <span class="complete">12</span>
        <span class="partial">13</span>
        <span>14</span>
        <span class="partial">15</span>
        <span class="complete">16</span>
        <span class="complete">17</span>
        <span class="partial">18</span>
        <span class="partial">19</span>
        <span class="partial">20</span>
        <span class="partial">21</span>
        <span class="partial">22</span>
        <span class="partial">23</span>
        <span>24</span>
        <span>25</span>
    </div>
    <div class="supported-modules">
        <span class="complete">Q1</span>
        <span class="complete">Q2</span>
        <span class="complete">Q3</span>
        <span>Q4</span>
        <span class="complete">Q5</span>
        <span class="partial">Q6</span>
        <span class="complete">Q7</span>
        <span class="partial">Q8</span>
        <span class="complete">Q9</span>
        <span class="complete">Q10</span>
        <span>Q11</span>
        <span class="partial">Q12</span>
        <span class="partial">Q13</span>
    </div>
    <p>Pathfinder Society Season 2</p>
    <div class="supported-modules">
        <span>01</span>
        <span>02</span>
        <span>03</span>
        <span>04</span>
        <span>05</span>
        <span>06</span>
    </div>
    <p><i>Please note that the actors will be imported, there are likely errors in them so please use the pf2e system compendiums instead for the time being.</i></p>

    <div class="supported-modules">
        <span class="partial" style="margin: 0 0.25em;">&nbsp;</span>
        Journal Entries and Scenes Only
    </div>
    <div class="supported-modules">
        <span class="complete" style="margin: 0 0.25em;">&nbsp;</span>
        Additional Scene Wall Data
    </div>

    <p>A special thank you to everyone who has sent in Paizo gift certificates to me on Discord to buy additional scenarios.</p>

    <div class="form-group">
        <label for="data">Source PDF</label>
        <input type="file" name="data">
    </div>
</form>
